* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

#overlay-content {
  position: absolute;
  left: calc(50% - 7rem);
  /* Comment display none for dom overlay to work */
  display: none;
}

#container {
  width: 14rem;
  color: white;
  margin: 2rem auto;
  font-family: Arial, Helvetica, sans-serif;
}
